

#home {
    width: 85vw;
    height: 100vh;
    background-color: #001523;
    border-left: 1px solid #002137;
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    flex-wrap: wrap;
}

