

.user {
    margin-top: 5px;
    width: 100%;
    height: 9%;
    padding: 2px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #002137;
}

.user:hover {
    background-color: #001523;
    cursor: pointer;
}

.userPfp {
    width: 25%;
    height: 95%;
    border-radius: 50%;
    margin-left: 10px;
}

.userNickname {
    justify-self: center;
    color: #adb5bd;
    margin-left: 10px;
}

#removeFriendBtn {
    filter: invert(15%) sepia(26%) saturate(6491%) hue-rotate(186deg) brightness(96%) contrast(101%);
    width: 21px;
    margin-left: 30px;
}
#removeFriendBtn:hover {
    cursor: pointer;
    transition: all 200ms linear;
    transform: scale(1.1);

}